#body {
    background: #f5f5f5;
    font-size: 1.5em;
}

main{
    width: 100%;
}

#nav {
    background: #eaeaea;
    width: 100%;
    /*border: 1px solid black;*/
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*padding-top: 1%;*/
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius:  24px;
    border-bottom-right-radius: 24px;
    padding: 1%;
}

#nav div{
    list-style: none;
    /*border: 1px solid black;*/

    width: 13%;
    text-align: center;
    border-radius: 20px;
    /*border: 1px solid black;*/
}
#nav div:hover{
    background-color: white;
}
#nav div a{

    text-align: center;
}
#nav .nav-link {
    color:black;
}
* {

}
.content{
    margin-top: 3%;
    /*border:1px solid black;*/
    background: white;
    /*height: 1000px;*/
    padding: 2%;
    border-radius: 10px;
}
.content-element {
    margin-bottom: 0.7%;
}
.book-element {
    /*height: 130px;*/
    border: 1.5px solid #aaaaaa;
    border-radius: 5px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*margin: auto;*/
    padding: 0.5%;
    font-size: 12px;

}

.content-wrapper{
    min-height: 130px;
    /*max-height: 96%;*/
    /*max-width: 96%;*/
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;

    /*margin: auto;*/

    /*border: 1px solid red;*/
}
.image-wrapper {
    /*display: inline-block;*/
    margin-right: 5px;

    /*max-width: 120px;*/
    /*max-height: 120px;*/
    /*min-width: 120px;*/
    /*min-height: 120px;*/

    /*border: 1px solid black;*/
    /*height: 100%;*/
    /*max-height: 100%;*/
    /*min-height: 100%;*/


}
.image-wrapper img{
    max-width: 130px;
    max-height: 130px;
    min-width: 130px;
    min-height: 130px;
    /*height: 100%;*/
    /*max-height: 100%;*/
    /*min-height: 100%;*/
    border-radius: 5px;

    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
}
.text-wrapper{
    /*text-align: left;*/
    /*border: 1px solid black;*/
    /*display: inline-block;*/
    /*max-height: 100%;*/
    /*min-height: 100%;*/
    /*position: relative;*/

    /*max-height: 130px;*/
    /*min-height: 130px;*/
    /*height: 130px;*/

    height: 100%;
    max-height: 100%;
    min-height: 100%;


    border: 1px solid black;
}
.text-wrapper1{
    /*position: relative;*/
    border: 1px solid red;
    display: inline-block;
    width: 40%;
    padding-right: 8%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*align-content: space-between;*/
    /*border: 1px solid black;*/
}
.text-wrapper2 {
    border: 1px solid red;
    display: inline-block;
    width: 40%;
}
/*.book-element .content-wrapper {*/
    /*display: flex;*/
/*}*/
/*.book-element .image-wrapper {*/
    /*display: inline-block;*/
/*}*/

span.field-descr{
    font-weight: bold;
}